[user]
	name = Javier Chatruc
	email = jrchatruc@gmail.com
[core]
	excludesfile = /Users/lambda/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor=vim
[color]
	ui = true
[color "diff-highlight"]
	oldHighlight = red bold 52
	newHighlight = green bold 22
[merge]
	conflictStyle = diff3
[interactive]
	diffFilter = diff-so-fancy --patch
